#form {
  padding: 100px 20rem;
  form {
    padding: 15px;
    border: 1px solid #7c39e8;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  fieldset {
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .f1 {
    border-right: 1px solid #7c39e8;
  }
  .f1,
  .f2 {
    width: 50%;
  }
  .f3,
  .f4 {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #7c39e8;
  }

  .from-group {
    width: 100%;
    padding: 0 15%;
    margin: 15px 0;
    display: flex;
  }
  legend {
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #7c39e8;
    text-align: center;
  }
  .btn-foto {
    cursor: pointer;
    background-color: #7c39e8;
    color: white;
    font-family: "Barlow";
    padding: 10px;
    font-weight: bold;
    width: 170px;
    text-align: center;
    transition: all 0.4s ease;
    &:hover {
      filter: brightness(0.7);
    }
  }
  input,
  select {
    cursor: pointer;
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-self: flex-end;
    background: transparent;
    border-bottom: 1px solid #7c39e8;
    color: #7c39e8;
    font-size: 16px;
    font-weight: 600;
    &:focus {
      border-bottom: 2px solid #7c39e8;
    }
    &::placeholder {
      color: #7c39e8;
      font: 700 16px "Barlow" sans-serif;
    }
  }
  input[type="file"] {
    border: 1px solid #7c39e8;
    &::-webkit-file-upload-button {
      display: none;
    }
  }
  .row_tel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 15px;
  }
  .from-group_tel {
    margin-top: 20px;
    display: flex;
    width: 100%;
    input {
      margin: 0 15px;
    }
  }
  .adderm {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
  }
  .addmore {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #7c39e8;
    color: #7c39e8;
    font-weight: bold;
    font-family: "Barlow";
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: #7c39e8;
      color: white;
    }
  }
  .remove {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #dd2c58;
    color: #dd2c58;
    font-weight: bold;
    font-family: "Barlow";
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: #dd2c58;
      color: white;
    }
  }
  .slide-input{
    position: relative;
    width: 140px;
    border: 1px solid #7c39e8;
    display: flex;
    button{
      width: 70px;
      background-color: transparent;
      z-index: 2;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover{
        background-color: rgba(124,57,232, 0.1);
      }
    }
    .back{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #7c39e8;
      transition: all 0.4s ease;
    }
    .cpftap{
      color: white;
    }     
  }
  .d-none{
    display: none;
  }
}
